.App {
  text-align: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  margin-top: 75px;
  margin-left: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Filter {
  position: fixed;
  padding: 10px;
  display: flex;
  flex-direction: row;
  float: left;
  z-index: 4;
  width: 100%;
  left: 0;
  background-color: white;
}

.sticky-col {
  position: -webkit-sticky;
  position: sticky;
  background-color: white !important;
}

.first-col {
  width: 250px;
  min-width: 200px;
  max-width: 100px;
  left: 0px;
}

.second-col {
  width: 50px;
  min-width: 50px;
  max-width: 50px;
  left: 100px;
}
.Card {
  float: left;
  cursor: pointer;
  padding: 30px 0px 40px 0px;
  text-align: center;
  box-sizing: border-box;
  border: 2px solid black;
  margin: 10px;
  width: 30%;
  display: inline-block;
  .TitleCard {
    font-size: 24px;
    font-weight: 500;
  }
  img {
    width: 220px;
    height: 220px;
    object-fit: contain;
    border: 1px solid black;
  }
}
.CardPokemon {
  position: fixed;
  margin-top: 80px;
  margin-left: 20px;
  padding: 15px 10px;
  margin-bottom: 10px;
  border: 2px solid black;
  .TitleCardPokemon {
    font-size: 16px;
    font-weight: 500;
  }
  img {
    width: 250px;
    height: 200px;
    margin: 10px 0px;
    object-fit: contain;
    border: 1px solid black;
  }
}

.Title {
  position: fixed;
  z-index: 4;
  width: 100%;
  top: 0;
  padding: 10px;
  background-color: white;
}
.TitleH1 {
  font-size: 40px;
  border: 2px solid black;
  padding: 0;
  margin: 5px;
  font-weight: 500;
}

div {
  text-align: center;
  justify-content: center;
}
/* 992px - 1300px */
@mixin _1300 {
  @media (max-width: 1300px) {
    margin: 0 5px;
    width: calc(40%);
    font-size: 14px;
  }
}
@mixin _900 {
  @media (max-width: 900px) {
    margin: 0 5px;
    width: calc(40%);
    font-size: 12px;
  }
}
@mixin _768 {
  @media (max-width: 768px) {
    width: calc(40%);
    font-size: 10px;
  }
}
@mixin _620 {
  @media (max-width: 620px) {
    width: calc(30%);
    font-size: 8px;
  }
}
@mixin _420 {
  @media (max-width: 420px) {
    width: calc(42%);
    font-size: 12px;
  }
}
@mixin _350 {
  @media (max-width: 350px) {
    width: calc(38%);
    font-size: 10px;
  }
}
@mixin type {
  float: left;
  display: inline-flex;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0 10px;
  flex-wrap: wrap;
  width: calc(40%);
  justify-content: center;
  font-weight: 500;
  color: black;
}
.type-grass {
  @include type;
  @include _1300;
  @include _900;
  @include _768;
  @include _620;
  @include _420;
  @include _350;

  border: 2px solid #228b22;
  background-image: linear-gradient(to bottom, #ffffff 0%, #228b22 100%);
}
.type-poison {
  @include type;
  @include _1300;
  @include _900;
  @include _768;
  @include _620;
  @include _420;
  @include _350;

  border: 2px solid #8b008b;
  background-image: linear-gradient(to bottom, #ffffff 0%, #8b008b 100%);
}
.type-fire {
  @include type;
  @include _1300;
  @include _900;
  @include _768;
  @include _620;
  @include _420;
  @include _350;

  border: 2px solid#FF4500;
  background-image: linear-gradient(to bottom, #ffffff 0%, #ff4500 100%);
}
.type-electric {
  @include type;
  @include _1300;
  @include _900;
  @include _768;
  @include _620;
  @include _420;
  @include _350;

  border: 2px solid yellow;
  background-image: linear-gradient(to bottom, #ffffff 0%, yellow 100%);
}
.type-flying {
  @include type;
  @include _1300;
  @include _900;
  @include _768;
  @include _620;
  @include _420;
  @include _350;

  border: 2px solid cyan;
  background-image: linear-gradient(to bottom, #ffffff 0%, cyan 100%);
}
.type-unknown {
  @include type;
  @include _1300;
  @include _900;
  @include _768;
  @include _620;
  @include _420;
  @include _350;

  border: 2px solid rgb(150, 48, 106);
  background-image: linear-gradient(
    to bottom,
    #ffffff 0%,
    rgb(150, 48, 106) 100%
  );
}
.type-water {
  @include type;
  @include _1300;
  @include _900;
  @include _768;
  @include _620;
  @include _420;
  @include _350;

  border: 2px solid #3498db;
  background-image: linear-gradient(to bottom, #ffffff 0%, #3498db 100%);
}
.type-ice {
  @include type;
  @include _1300;
  @include _900;
  @include _768;
  @include _620;
  @include _420;
  @include _350;

  border: 2px solid rgb(119, 200, 244);
  background-image: linear-gradient(
    to bottom,
    #ffffff 0%,
    rgb(119, 200, 244) 100%
  );
}
.type-fighting {
  @include type;
  @include _1300;
  @include _900;
  @include _768;
  @include _620;
  @include _420;
  @include _350;

  border: 2px solid #ff6347;
  background-image: linear-gradient(to bottom, #ffffff 0%, #ff6347 100%);
}
.type-bug {
  @include type;
  @include _1300;
  @include _900;
  @include _768;
  @include _620;
  @include _420;
  @include _350;

  border: 2px solid #98fb98;
  background-image: linear-gradient(to bottom, #ffffff 0%, #98fb98 100%);
}
.type-shadow {
  @include type;
  @include _1300;
  @include _900;
  @include _768;
  @include _620;
  @include _420;
  @include _350;

  border: 2px solid #b0c4de;
  background-image: linear-gradient(to bottom, #ffffff 0%, #b0c4de 100%);
}
.type-ground {
  @include _1300;
  @include type;
  @include _900;
  @include _768;
  @include _620;
  @include _420;
  @include _350;

  border: 2px solid #d2691e;
  background-image: linear-gradient(to bottom, #ffffff 0%, #d2691e 100%);
}
.type-normal {
  @include type;
  @include _1300;
  @include _900;
  @include _768;
  @include _620;
  @include _420;
  @include _350;

  border: 2px solid rgb(179, 179, 205);
  background-image: linear-gradient(
    to bottom,
    #ffffff 0%,
    rgb(179, 179, 205) 100%
  );
}
.type-fairy {
  @include type;
  @include _1300;
  @include _900;
  @include _768;
  @include _620;
  @include _420;
  @include _350;

  border: 2px solid #ff00ff;
  background-image: linear-gradient(to bottom, #ffffff 0%, #ff00ff 100%);
}
.type-psychic {
  @include type;
  @include _1300;
  @include _900;
  @include _768;
  @include _620;
  @include _420;
  @include _350;

  border: 2px solid #800080;
  background-image: linear-gradient(to bottom, #ffffff 0%, #800080 100%);
}
.type-rock {
  @include type;
  @include _1300;
  @include _900;
  @include _768;
  @include _620;
  @include _420;
  @include _350;

  border: 2px solid #696969;
  background-image: linear-gradient(to bottom, #ffffff 0%, #696969 100%);
}
.type-ghost {
  @include type;
  @include _1300;
  @include _900;
  @include _768;
  @include _620;
  @include _420;
  @include _350;

  border: 2px solid #c0c0c0;
  background-image: linear-gradient(to bottom, #ffffff 0%, #c0c0c0 100%);
}
.type-dragon {
  @include type;
  @include _1300;
  @include _900;
  @include _768;
  @include _620;
  @include _420;
  @include _350;

  border: 2px solid #dc143c;
  background-image: linear-gradient(to bottom, #ffffff 0%, #dc143c 100%);
}
.type-steel {
  @include type;
  @include _1300;
  @include _900;
  @include _768;
  @include _620;
  @include _420;
  @include _350;

  border: 2px solid #008b8b;
  background-image: linear-gradient(to bottom, #ffffff 0%, #008b8b 100%);
}
.type-dark {
  @include type;
  @include _1300;
  @include _900;
  @include _768;
  @include _620;
  @include _420;
  @include _350;

  border: 2px solid #696969;
  background-image: linear-gradient(to bottom, #ffffff 0%, #696969 100%);
}
table,
tr,
td {
  border: 1px solid;
}
table {
  margin: 0px 15px;
  width: 200px;
}
col:first-child {
  width: 70%;
}
col:last-child {
  width: 30%;
}

.btn {
  width: 95%;
  margin: 20px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  color: white;
  font-weight: 500;
  font-size: 20px;
  background-color: #1890ff;
  margin-left: 0px;
  margin-right: 40px;
}
.TextMore {
  font-size: 24px;
  font-weight: 500;
}
@media screen and (max-width: 1300px) {
  .Card {
    width: 30%;
    padding: 20px 0px 25px 0px;

    img {
      width: 170px;
      height: 170px;
    }
  }

  .CardPokemon {
    margin-top: 0px;
    margin-left: 10px;
    padding: 15px 10px;
    margin-bottom: 10px;
    top: 160px;
    padding: 20px;
    img {
      width: 250px;
      height: 250px;
    }
  }
}
@media screen and (max-width: 1100px) {
  .Card {
    width: 28%;
    padding: 10px 5px 25px 5px;

    img {
      width: 120px;
      height: 120px;
    }
  }
  .first-col {
    width: 150px;
    min-width: 150px;
    max-width: 150px;
  }

  .second-col {
    width: 50px;
    min-width: 50px;
    max-width: 50px;
  }

  .CardPokemon {
    top: 150px;
    padding: 20px;
    img {
      width: 180px;
      height: 150px;
    }
  }
}
@media screen and (max-width: 900px) {
  .Card {
    width: 28%;
    padding: 10px 5px 20px 5px;

    img {
      width: 100px;
      height: 100px;
    }
    .TitleCard {
      font-size: 16px;
    }
  }
  .first-col {
    width: 100px;
    min-width: 80px;
    max-width: 100px;
  }

  .second-col {
    width: 50px;
    min-width: 50px;
    max-width: 50px;
  }
  .CardPokemon {
    top: 200px;
    padding: 15px;
    img {
      width: 180px;
      height: 150px;
    }
  }
}

@media screen and (max-width: 768px) {
  .Card {
    padding: 20px 0px 20px 0px;
    img {
      width: 80px;
      height: 80px;
    }
  }
  table {
    width: 100px;
    margin: 5px;
  }
  .CardPokemon {
    top: 150px;
    padding: 5px;
    img {
      width: 130px;
      height: 130px;
    }
  }
}

@media screen and (max-width: 768px) {
  .Card {
    padding: 20px 0px 20px 0px;
    img {
      width: 80px;
      height: 80px;
    }
  }
  table {
    width: 100px;
    margin: 5px;
  }
  .CardPokemon {
    top: 150px;
    padding: 5px;
    img {
      width: 130px;
      height: 130px;
    }
  }
}

@media screen and (max-width: 620px) {
  .Card {
    padding: 10px 0px 10px 0px;
    margin: 5px;
    img {
      width: 70px;
      height: 70px;
    }
  }
  .TextMore {
    font-size: 20px;
    font-weight: 500;
  }
  table {
    width: 100px;
    margin: 5px;
  }
  .CardPokemon {
    margin-left: 10px;
  }
}
@media screen and (max-width: 570px) {
  .Card {
    padding: 10px 0px 10px 0px;
    margin: 5px;
    width: 40%;
    img {
      width: 70px;
      height: 70px;
    }
  }
  .CardPokemon {
    margin-left: 0px;
  }
  .btn {
    width: 90%;

    font-size: 15px;
  }
}
@media screen and (max-width: 440px) {
  .Card {
    padding: 15px 0px 30px 0px;
    margin: 0 0 10px;
    width: 90%;
    img {
      width: 120px;
      height: 120px;
    }
  }

  .CardPokemon {
    margin-left: 0px;
    margin-top: 30px;
  }
  .Title {
    padding: 0px;
  }
  .TitleH1 {
    font-size: 30px;
    padding: 10px 20px;
  }
  .App {
    margin-left: 10px;
  }
}

@media screen and (max-width: 350px) {
  .Card {
    padding: 15px 0px 20px 0px;

    img {
      width: 100px;
      height: 100px;
    }
  }
  .CardPokemon {
    img {
      width: 100px;
      height: 100px;
    }

    .TitleCardPokemon {
      font-size: 13px;
      font-weight: 500;
    }
  }
  table {
    width: 80px;
  }
  .first-col {
    width: 50px;
    min-width: 50px;
    max-width: 50px;
  }
}
